
#inputDiv{
	float: right;
}

.buttons{
	background-color: #4CAF80; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#animals{
	float:left;
}
.item{
	margin:5px;
	float:left;
}
